.grid {
  display: grid;
  grid-template-rows: repeat(14, 50px);
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "menu"
    "hero"
    "hero"
    "hero"
    "main"
    "main"
    "main"
    "banner"
    "banner"
    "extra"
    "extra"
    "image"
    "image";
  text-align: center;
}
.header {
  background-color: rgba(0, 0, 0, 0.614);
  grid-area: header;
}
.menu {
  background-color: rgba(204, 117, 117, 0.614);
  grid-area: menu;
}
.hero {
  background-color: rgba(117, 171, 204, 0.614);
  grid-area: hero;
}
.main {
  background-color: rgba(117, 204, 198, 0.549);
  grid-area: main;
}
.banner {
  background-color: rgba(117, 204, 137, 0.549);
  grid-area: banner;
}
.extra {
  background-color: rgba(192, 117, 204, 0.549);
  grid-area: extra;
}
.image {
  background-color: rgba(194, 204, 117, 0.549);
  grid-area: image;
}
@media (min-width: 767px) {
  .grid {
    grid-template-rows: 100px 400px 400px 200px 200px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
      "header header header"
      "hero hero hero"
      "menu main main"
      "menu banner banner"
      "menu extra image";
  }
}
@media (min-width: 1000px) {
  .grid {
    grid-template-rows: 100px 500px 150px 150px 200px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "header menu menu menu"
      "hero hero hero hero"
      "main main . image"
      "main main . extra"
      "banner banner banner banner";
  }
}


